<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
</head>
<body>

    <form th:action="@{/logout}" method="post">
        <input id="sign-out" type="submit" value="Sign Out"/>
    </form>
<form action="#" th:object="${newChatMessage}" th:action="@{'/chat'}" method="POST">
    <label for="messageText">Message Text:</label>
    <input id="messageText" type="text" th:field="*{messageText}">
    <input id="submitButton" type="submit">
    
    <h2>history</h2>
    <div th:if="${#lists.size(history) > 0}" th:each="msg : ${history}">
        <div class="chat-message-container">
            <span th:text="${msg.username}"></span> :
            <span th:text="${msg.messageText}"></span>
        </div>

    </div>
    <div id="no-history" th:unless="${#lists.size(history) > 0}">no history</div>

</form>

</body>
</html>